:root{
    /**colors**/
  --blue-green-color-wheel_60: hsla(165, 77%, 17%, 0.6);
  --blue-green-color-wheel_10: hsla(165, 77%, 17%, 0.1);
  --blue-green-color-wheel: hsl(165, 77%, 17%);
  --black-chocolate: hsl(32, 24%, 14%);
  --spanish-gray: hsl(210, 3%, 62%);
  --orange-web: hsl(38, 100%, 50%);
  --davys-gray: hsl(213, 5%, 34%);
  --light-gray: hsl(0, 0%, 80%);
  --msu-green: hsl(165, 77%, 15%);
  --cultured: hsl(30, 22%, 96%);
  --white_15: hsl(0, 0%, 100%, 0.15);
  --white: hsl(0, 0%, 100%);
  --onyx: hsl(210, 10%, 23%);
  
    /**typography**/
  
    --ff-montserrat: 'Montserrat', sans-serif;
  --ff-playfair: 'Playfair Display', serif;
  
  --fs-1: 3.6rem;
  --fs-2: 2.4rem;
  --fs-3: 2.2rem;
  --fs-4: 2rem;
  --fs-5: 1.5rem;
  --fs-6: 1.4rem;
  --fs-7: 1.3rem;
  
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  
  /**spacing**/
  --section-padding: 60px;
  
  /**shadow**/
  
  --shadow-1: 0 2px 30px hsla(0, 0%, 0%, 0.1);
  --shadow-2: 2px 4px 8px hsla(215, 20%, 16%, 0.15);
  
  /**border raduis**/
  
  --radius-2: 2px;
  --radius-10: 10px;
  --radius-50: 50px;
  
  /**transition**/
  
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  
  }
 
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

*{
    font-family:  var(--ff-montserrat);
}

.row{
    border-radius: 1px;
    height: 99.9vh;
    width: 212.5vh;
    margin: 0;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.side-image{
    background-color: #114D4D;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 1px;
}

.eye{
    position: absolute;
    padding-top: 20px;
    padding-left: 320px;
}
#hide1{
    display: none;
}
#hide3{
    display: none;
}
img{
    width: 35px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text h3{
    color: #fff;
    font-size: 36px;
    font-weight: bolder;
}
i{
    font-weight: 400;
    font-size: 15px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.input-box{
    width: 330px;
    box-sizing: border-box;
}
.input-box header{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 45px;
}
.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}
.input{
    position: relative;
    outline: none;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 4px;
    padding-left: 10px;
    height: 45px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
    color: #40414a;
}
.input-box .input-field label{
    top: 0px;
    left: 10px;
    transition: .5s;
    position: absolute;
    margin-top: -20px;
}
.input-field .input:focus, .input-field .input:valid{
    border: 1px solid #114D4D;
}
.submit{
    background-color: #114D4D;
    border:none;
    outline: none;
    height: 45px;
    border-radius: 23px;
    transition: .4s;
    color:white;
}
  
/*
#114D4D
#46AEA2
#FDF8F2
#79D0C6
#BDECE5*/
.submit:hover{
    background: rgba(117, 125, 121, 0.9);
    color: #000000;
}
.signin{
    text-align: center;
    font-size: small;
    margin-top: 25px;
}
span a{
    text-decoration: underline;
    font-weight: 700;
    color: #000;
    transition: .5s;
}
span a:hover{
    text-decoration:none;
    color: #007440;
}



@media only screen and (max-width: 468px){
    .side-image{
        border-radius: 10px 10px 0 0;
    }
    img{
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }
    .text{
        position: absolute;
        top: 70%;
        text-align: center;
    }
    .text p,i{
        font-size: 17px;
    }
    .row{
        min-width: 780px;
        width: 100%;
    }

}
@media only screen and (max-width: 908px){
    .side-image{
        border-radius: 10px 10px 0 0;
    }
    img{
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }
    .text{
        position: absolute;
        top: 70%;
        text-align: center;
    }
    .text p,i{
        font-size: 17px;
    }
    .row{
        min-width: 420px;
        width: 100%;
    }

}